.button {
	height: 50px;
	border-radius: 8px;
	font-weight: 500;
	background-color: #835AFD;
	color: #FFF;
	padding: 0 32px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 0;

	transition: filter 0.2s;

	@media (max-width:245px) {
		padding: 0 18px;
		font-size: 12px;
	}

	img {
		margin-right: 8px;
	}

	&.outlined {
		background-color: var(--pure-white);
		border: 1px solid var(--primary-color);
		color: var(--primary-color);
	}

	&:not(:disabled):hover {
		filter: brightness(90%);
	}

	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}
}