* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #835AFD;
	--text: #29292E;
	--sub-text: #A8A8B3;
	--pink: #E559F9;
	--pure-white: #FFF;
	--question-bg: #FEFEFE;
	--questionAnswered: #DBDCDD;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
	--text: #EEEEFF;
	--sub-text: #818CAB;
	--pink: #B35EBE;
	--pure-white: #30303b;
	--question-bg: rgba(78, 78, 78, 0.493);
	--question-Answered: #885faa73;
}


html, body, #root {
	height: 100%;
}

body {
	background-color: var(--pure-white);
	color: var(--text);
}

body, input, button, textarea {
	font: 400 16px 'Roboto', sans-serif;
}

button {
	cursor: pointer;
}