.question {
	background-color: var(--question-bg);
	border-radius: 8px;
	border: 1px solid #B4B4B4;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
	padding: 24px;

	& + .question {
		margin-top: 8px;
	}

	&.highlighted {
		border: 1px solid var(--primary-color);

		footer .user-info span {
			color: var(--text);
		}
	}

	&.answered {
		background-color: var(--question-Answered);
	}

	p {
		color: var(--text);
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 24px;

		.user-info {
			display: flex;
			align-items: center;

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}

			span {
				margin-left: 8px;
				color: var(--text);
				font-weight: 500;
				font-size: 16px;
			}

			@media (max-width:300px) {
				margin-right: 10px;

				img {
					width: 30px;
					height: 30px;
				}

				span {
					font-size: 12px;
				}
			}
		}

		> div {
			display: flex;
			gap: 12px;
			
			button {
				background-color: transparent;
				border: 1px solid transparent;
				border-radius: 5px;
				padding: 2px 4px;

				&.highlighted {
					background-color: #d0b6ff31;
					border: 1px solid #835AFD;
				}
			}
		}
		
		.like-button-container {
			display: flex;
			align-items: flex-end;
			color: #737380;
			gap: 8px;

			span {
				font-size: 18px;
			}
			
			&.liked {
				color: var(--primary-color);

				button svg path {
					stroke: var(--primary-color);
				}
			}
			
			button {
				border: 0;
				background-color: transparent;
				transition: filter 0.2s;
				display: flex;
				&:hover {
					filter: brightness(80%);
				}
			}
		}
	}
}